plotly==6.0.1
matplotlib==3.10.0
streamlit_keplergl==0.3.0
pillow==11.1.0
streamlit==1.46.0
pandas==2.2.3 
numpy==1.26.4
keplergl==0.3.2
datetime
numerizer==0.2.4
humanize==4.12.2
seaborn==0.13.2
plotly.express==6.0.1